.footer {
  color: $dark;
  text-shadow: $text_shadow;
  margin-top: 71px;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
  float: right;
  & p {
    display: flex;
    align-items: center;
  }
}
