.footer {
    font-size: 12px;
    float: right;
    margin: 0 10px 10px 0;
  
    
}
.footer p{
    display: flex;
    align-items: center;
    color: var(--dark);
    text-shadow: var(--text_shadow);
    
  
}