.imageandheading {
  font-size: 9px;
  width: 90%;
  margin:auto;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  clear: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.imageandheading img {
  width: 30%;
}
