@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --green: #49b344;
  --white: #ffffff;
  --black: #000000;
  --grey: #f0f2f6;
  --dark: rgba(0, 0, 0, 0.5);
  --text_shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  --green_gradient: linear-gradient(
    90deg,
    #5bbb44 0.04%,
    #28a444 100.34%,
    rgba(40, 164, 68, 0) 104.13%,
    #28a444 104.13%,
    #28a444 104.13%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
