.mainform {
  width: 70%;
  margin: 39.27px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}
.checkboxes div {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.checkboxes div input[type="checkbox"] {
  width: 27.78px;
  height: 25.13px;
  margin-right: 10.49px;
  accent-color: green;
}

.textinputandsubmitbutton input {
  width: 500.59px;
  height: 59.37px;
  padding: 0 40px;
  border-radius: 71.92px;
  border: none;
  background: var(--grey);
}

.textinputandsubmitbutton input[type="email"] {
  margin: 50.03px 0;
}

.textinputandsubmitbutton input[type="submit"] {
  font-size: 22px;
  width: 390.53px;
  height: 61.92px;
  background: var(--green_gradient);
  color: white;
  border-radius: 41px;
  padding: 0;
}

.textinputandsubmitbutton input[type="submit"]:hover {
  cursor: pointer;
}


/* responsiveness */
@media screen and (max-width: 1342px) {
  .mainform {
    width: 80%;
  }
}
@media screen and (max-width: 1164px) {
  .mainform {
    width: 90%;
  }
}

@media screen and (max-width: 1011px) {
  .mainform {
    width: 99%;
  }
}

@media screen and (max-width: 844px) {
  .mainform {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 517px) {
  .textinputandsubmitbutton input {
    width: 350.59px;
  }
}

@media screen and (max-width: 406px) {
  .textinputandsubmitbutton input {
    width: 260.59px;
  }
  .textinputandsubmitbutton input[type="submit"] {
    width: 290.53px;
  }
}
